.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.modal__opened {
  visibility: visible;
}

.modal_closed {
  visibility: hidden;
}

.modal__title {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  margin: 0, 0, 24px, 0;
  font-size: 16px;
}

.modal__container {
  background-color: white;
  position: relative;
  border-radius: 20px;
  max-width: 496px;
  padding: 28px;
  box-sizing: border-box;
  width: 100%;
}

.modal__label {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font: 40px;
  margin-bottom: 8px;
  font-weight: bold;
  line-height: 20px;
}

.modal__label_type_radio {
  font-weight: normal;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

.modal__legend {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  margin-bottom: 12px;
  line-height: 20px;
  font-weight: bold;
}

.modal__input {
  outline: 0;
  margin-bottom: 24px;
  border-width: 0 0 2px;
  border-color: black;
  width: 100%;
}

.modal__closer {
  background: transparent url(../../assets/close_button_gray.svg) center
    no-repeat;
  position: absolute;
  background-color: transparent;
  border: none;
  left: 448px;
  top: 20px;
  right: 28px;
  height: 20px;
  width: 20px;
  z-index: 6;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__submit {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  color: white;
  font-weight: 700;
  width: 124px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

.modal__radio-input {
  margin-right: 5px;
}

.modal__radio-buttons {
  border: none;
  padding: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
