.modal__content_type_image {
  padding: 0;
}

.modal__image {
  height: 100%;
  width: 100%;
}

.modal__caption {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 20px 0 0 32px;
}

.modal__weather {
  font-family: "CabinetGrotesk-Medium";
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 20px 0px 32px 32px;
}
